/* Para el menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6a2c70;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #b83b5e;
}

.active {
    background-color: #f08a5d;
}

/* Página en general*/
body{
    background-color: #f9ed69;
    margin: 0;
}

header{
    padding-left: 10px; 
}

main {
    padding: 10px;
}